*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    color: darkgreen;
    font-size: 30px;
    text-align: center;
}
.none{
    display: none;
}
p{
    margin-top: 1%;
    background-image: linear-gradient(to right,aqua,purple);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}
button{
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border-style: none;
    margin: 3% 0 3% 0;
    font-size: 1.5rem;
    color: darkgreen;
    background-image: linear-gradient(to right,#636363,#adadad);
}
button:hover{
    border-width: 1px;
    border-style: outset;
    background-image: linear-gradient(to left,#636363,#adadad);
    color: white;
    cursor: pointer;
}

button:active {
    background: darkgreen;
    top: 2px;
  }